PORT=3000

# Opcional: protege o endpoint /api/import
APP_TOKEN=429683C4C977415CAAFCCE10F7D57E12

# INSTANCE_NAME=1774231650986465
EVOLUTION_API_URL=https://kolek.gowa.com.br
GLOBAL_API_KEY=429683C4C977415CAAFCCE10F7D57E12

DB_HOST=kolek_gowa-db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=9578e683d6757bcbd52f
DB_NAME=kolek

# Opcional: arquivo padrão montado no container (ex: /app/data/wa-session.json)
SESSION_FILE=
