PORT=3000

# Opcional: protege o endpoint /api/import
APP_TOKEN=1212121212121212

# INSTANCE_NAME=1774231650986465
EVOLUTION_API_URL=https://evolution.site.com.br
GLOBAL_API_KEY=1212121212121212121212121212112

DB_HOST=192.168.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=kjdhj34iujdfhdjf
DB_NAME=evolution

# Opcional: arquivo padrão montado no container (ex: /app/data/wa-session.json)
SESSION_FILE=
